<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/cfg-chicago/team-17/master/views/groups.css">
  <title>Pitch it</title>
</head>
<body>
  
  
  
  <div class="groupName"><p id="groupText">Group 1</p></div>
  
  <table class="group" style="margin:0px auto;">
  <tr>
    <td>
      <a href=""><div id="profilePic"></div></a>
      
      <p id="nameText">Firstname Lastname</p>
    </td>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td> 
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
  </tr>
  <tr>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td> 
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
  </tr>
</table>
  
  <div class="spacer"><p id="groupText"></p></div>
  
   <div class="groupName"><p id="groupText">Group 2</p></div>
  
  <table class="group" style="margin:0px auto;">
  <tr>
    <td>
      <a href=""><div id="profilePic"></div></a>
      
      <p id="nameText">Firstname Lastname</p>
    </td>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td> 
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
  </tr>
  <tr>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td> 
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
  </tr>
</table>
  
  <div class="spacer"><p id="groupText"></p></div>
  
   <div class="groupName"><p id="groupText">Group 3</p></div>
  
  <table class="group" style="margin:0px auto;">
  <tr>
    <td>
      <a href=""><div id="profilePic"></div></a>
      
      <p id="nameText">Firstname Lastname</p>
    </td>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td> 
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
  </tr>
  <tr>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td> 
    <td>
      <a href=""><div id="profilePic"></div></a>
      <p id="nameText">Firstname Lastname</p>
    </td>
  </tr>
</table>
  
  <div class="spacer"><p id="groupText"></p></div>

</body>
</html>
