<!DOCTYPE html>
<html>
<head>
<title>Cover Page</title>
</head>
<body bgcolor = "white"; background="http://www.wffpitchin.org/wp-content/uploads/2017/02/logo-1.png">

  <div align = "center" >
      <img src="https://rawgit.com/michaelgrotton/cssStuff/master/portfolio_hub.jpg" style="width:100%"> </img>
  </div>
      <div align = "center">


	<svg height = "1000" width = "1000"  >
     <a href="/groups?grade=4">
         <circle cx="190" cy="150" r="150" fill="DodgerBlue"/>
         <text x="90" y="200" font-family="sans-serif" font-size="150px" fill="white">
         4th</text> </a>

 <a href="/groups?grade=5">  <circle cx="505" cy="150" r="150" fill="DodgerBlue"/>
         <text x="400" y="200" font-family="sans-serif" font-size="150px" fill="white">
             5th</text></a>

 <a href="/groups?grade=6">   <circle cx="815" cy="150" r="150" fill="#34E989"/>
      <text x="715" y="200" font-family="sans-serif" font-size="150px" fill="white">
          6th</text></a>
 <a href="/groups?grade=7"> <circle cx="345" cy="425" r="150" fill="#34E989"/>
      <text x="240" y="475" font-family="sans-serif" font-size="150px" fill="white">
          7th</text></a>
 <a href="/groups?grade=8"> <circle cx="655" cy="425" r="150" fill="DodgerBlue"/>
      <text x="550" y="475" font-family="sans-serif" font-size="150px" fill="white">
          8th</text></a>
 <a href="/groups?grade=A"> <circle cx="500" cy="700" r="150" fill="#34E989"/>
      <text x="380" y="750" font-family="sans-serif" font-size="150px" fill="white">
        A</text>
        <text x="480" y="750" font-family="sans-serif" font-size="50px" fill="white">
            lumni</text></a>
	</svg>
  </div>

</body>
</html>




