<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/cssStuff/master/newPost.css">
  <title>Pitch It</title>
</head>
<body>
  
  <div id="newPost"><p id=newPostFont>New Post!</p></div>
  
  <div id="imgCont">
  <input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" />
  </div>
  
  
  <div id="formCont">
  <form id = "form1">
    Please give your description!
    <input name = "description" type = "text" >
  </form>
  </div>

</body>
</html>
