<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  
  <div id="timeline">
    <div id="line"></div>
    <table id="tableWithCircles" style="width:">    
      <tr>
        <td><div class="circleNumber"><p class="circleWriting">4</p></div></td>
        <td><div class="circleNumber"><p class="circleWriting">5</p></div></td>
        <td><div class="circleNumber"><p class="circleWriting">6</p></div></td>
        <td><div class="circleNumber"><p class="circleWriting">7</p></div></td>
        <td><div class="circleNumber"><p class="circleWriting">8</p></div></td>
      </tr>
    </table>
     
  </div>
  <div id="profilePic"></div>
  <div id="name"><p id="nameText">Firstname Lastname</p></div>
  <div class="postEntry">
    <div class="star"></div>
  </div>
  <div class="postEntry">
    <div class="star"></div>
  </div>
  <div class="postEntry">
    <div class="star"></div>
  </div>
  <div class="postEntry">
    <div class="star"></div>
  </div>
  <div class="postEntry">
    <div class="star"></div>
  </div>
  
  
  

  
   

</body>
</html>
